html {
    height: 100%;
}

.navbar{
  height: 65px;
  background-color: $navbar-default-bg !important;
  box-shadow: 0 2px 12px #dee8ea; 
  margin-bottom: 0;
  &-brand{
  	padding: 10px 0 0 15px !important;
  }
  .logo{
    width: 140px;
    height: 52px; 
  }
}

.nav > li > a > img {
    width: 18px;
    height: 20px;
    color:white;
}

.nav > li > a {
    padding: 20px 10px;
}


.vr{

border: 4px solid #edf2f3; 
border-left: 0;
border-top: 0;
border-bottom: 0;
height:70px;
	
}

.vr_nav{
height:800px;
border: 4px solid #dee8ea; 
border-left: 0;
border-top: 0;
border-bottom: 0;
padding-top: 30px;
padding-left: 0;
padding-right: 0;
  
}

.vr_foot{
border: 4px solid #edf2f3; 
border-left: 0;
border-top: 0;
border-right: 0;
padding-top: 30px;
height: 500px;  
padding-left: 0;
padding-right: 0;

}

.navbar-form {
    margin: 0 0 0 15px;
    margin-top: 15px;
}

.list-group-item{
border: none;
	.glyphicon{
		padding-right: 15px;
	}
    .active, .active:focus, .active:hover{
	background-color: #4055b2;
}
}

.panel{
border: none;
	&-heading {
    padding: 0 15px 15px 15px;
    background-color: white !important;
    border: none;
}
	&-title{
	color: #337ab7 !important;
    font-weight: bold !important;
}
  &-body{
    background-color:#fafbfd;
  }
}

.modal-title {
    margin: 12px  0 0 0;
    line-height: 1.428571429;
    text-align: center;
    display:table;
vertical-align:middle;
text-align:center;
}


.modal-header{
    padding: 0 15px !important;
    border: 0;

}


.modal-body{
    padding: 0 15px !important;

}

.modal-body h5 {
  padding:1em 0;
  overflow:hidden;
  color:#337ab7;
  font-weight:bold;
&:after {
  content:'';
  width:100%;
  border-bottom: 1px lightgray solid;
  display:inline-block;
  vertical-align:middle;
  margin-right:-100%;
}


  }

  .modal-body h6 {
    font-weight:bold;
  }

  label {
  font-weight:normal;}

  #addPage input, textarea{
    background-color:#f6fafd;
    color: #FFF;
}

.whitebg{
    background-color:#fff !important;
}


.table-bordered {
    border: none;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    border: none;
}
.table th{
    text-align:center;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f4f8fb;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #fff;
}

#addPage .col-md-2 {
    width: 20%;
}

form h4 span{
  color: #4055b2;
}

.btn-primary {
    background-color: #4055b2;
}

/* Customize the label (the contain) */
.contain {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.contain input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #1990ea;
}

/* On mouse-over, add a grey background color */
.contain:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.contain input:checked ~ .checkmark {
  background-color: #1990ea;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contain input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contain .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}